@charset "UTF-8";

/**
  * coremedia library studio plugins
  *
  * @copyright       CoreMedia
  * @author          MFA/SEC
  *
  * @lastmodified    tue 15.04.2014
  */

/**
  * image gallery workflow window
  */


/**
  * in this case more height than standard height
  */
.galleryView .thumb-wrap {
  margin: 0 20px 10px 0;
  height: 106px;
}

/**
  * design without border
  */
.galleryView .thumb {
  width: 106px;
  height: 67px;
  background-color: #C0C0C0; /* photoshop canvas background color */
  background-image: url("../images/warn_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid #FFF;
  padding: 6px;
}

/**
  * make sure to be robust against corner cases
  */
.galleryView span.x-editable {
  font-size: 10px;
  text-align: center;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  height: 26px;
  position: relative;
}

/**
  * fading out text, cause text ellipsis does not work over two rows with CSS
  */
.galleryView span.x-editable:after {
  content:url(../../../coremedia-ext-theme/images/cm-custom/custom-ui/text-ellipsis-no-border.png);
  position:absolute;
  right:0;
  bottom: -5px;
}

.btn-create-image-map {
    background-image: url("../images/16_cm_create_image_map.png") !important;
    margin-top: 1px !important;
}