@charset "UTF-8";

/**
  * blueprint-forms
  *
  * @copyright       CoreMedia
  * @author          SEC/MFA
  *
  * @lastmodified    wed 19.03.2014
  */

.content-type-CMTemplateSet-fileTreeView {
  margin-top: 20px;
  border: 1px solid #D1D0D0;
  background-color: #F0F0F0
}
.content-type-CMTemplateSet-fileTreeView .x-treegrid-col {
  border-bottom: 1px solid #D1D0D0;
}
.content-type-CMTemplateSet-fileTreeView .x-tree-elbow-plus,
.content-type-CMTemplateSet-fileTreeView .x-tree-elbow-end-plus {
  background-position: 0 top !important;
  background-image: url('../images/cmarrow-right.png') !important;
}
.content-type-CMTemplateSet-fileTreeView .x-tree-elbow-minus,
.content-type-CMTemplateSet-fileTreeView .x-tree-elbow-end-minus {
  background-position: 0 top !important;
  background-image: url('../images/cmarrow-down.png') !important;
}

/**
  * special layout for PropertyFieldGroup component
  *
  * @see MetaDataDocumentForm.exml
  */
.meta-data-property-field-group-wrapper .grey-box {
  padding-bottom: 6px;
}

/**
  * @see MetaDataView.exml
  */
.meta-data-view-text,
.meta-data-view-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meta-data-view-label {
  float: left;
  width: 200px;
}
.meta-data-view-text {
  margin-right: auto;
}
