@charset "UTF-8";

/**
  * coremedia live context
  */
.x-tree-node-expanded .x-tree-node-icon.store-icon,
.x-tree-node-leaf .x-tree-node-icon.store-icon,
.x-tree-node-collapsed .x-tree-node-icon.store-icon,
.store-icon{
  background-image: url('icons/shop.png') !important;
  background-position: center !important;
}
.x-tree-selected .x-tree-node-icon.store-icon {
  background-repeat: no-repeat;
  background-image: url('icons/shop-neg.png') !important;
}
.content-type-l.category-icon {
  background-image:url('icons/category64.png') !important;
  background-position: center !important;
}
.content-type-xl.category-icon {
  background-image:url('icons/category120.png') !important;
  background-position: center !important;
}

.content-type-l.product-icon {
  background-image:url('icons/product64.png') !important;
  background-position: center !important;
}
.content-type-xl.product-icon {
  background-image:url('icons/product120.png') !important;
  background-position: center !important;
}

.content-type-l.marketingspot-icon {
  background-image:url('icons/marketingspot64.png') !important;
  background-position: center !important;
}
.content-type-xl.marketingspot-icon {
  background-image:url('icons/marketingspot128.png') !important;
  background-position: center !important;
}
.content-type-l.product-icon {
  background-image:url('icons/product64.png') !important;
  background-position: center !important;
}
.content-type-l.sku-icon {
  background-image: url('icons/sku64.png') !important;
  background-position: center !important;
}
.content-type-xl.sku-icon {
  background-image: url('icons/sku120.png') !important;
  background-position: center !important;
}
.catalog-object_id {
  font-size: 12px !important;
}
.search-product-variants-icon {
  background-repeat: no-repeat;
  background-image: url('icons/sku.png') !important;
}
.search-product-pictures-icon {
  background-repeat: no-repeat;
  background-image: url('icons/search-product-pictures.png') !important;
}
.create-product-icon {
  background-repeat: no-repeat;
  background-image: url('icons/create-product.png') !important;
}
.create-category-icon {
  background-repeat: no-repeat;
  background-image: url('icons/create-category.png') !important;
}
.create-product-teaser-icon {
  background-repeat: no-repeat;
  background-image: url('icons/create-product-teaser.png') !important;
}
.create-external-page-icon {
  background-repeat: no-repeat;
  background-image: url('icons/create-external-page.png') !important;
}.create-marketing-spot-icon {
  background-repeat: no-repeat;
  background-image: url('icons/create-marketing-spot.png') !important;
}
.fit-catalog-thumb-image {
  max-height: 100%;
  max-width: 100%;
}
.fit-catalog-thumb-overlay-image {
  max-height:120px;
  max-width:120px;
}
.header-toolbar-user-menu .commerce-shop-label {
  padding-left: 6px;
  color: #000;
  font-weight: bold;
}
.header-toolbar-user-menu .commerce-shop-text {
  padding-left: 6px;
  color: #000;
}
.header-toolbar-user-menu .commerce-workspace-label{
  padding-left: 6px;
  color: #000;
  font-weight: bold;
}

