//
// Fonts
// =====================================================================================================================
//
// Defines global font-size variables using SASS font-format maps.
//
$font-formats: (
  h1: (
    mobile: 40px,
    base : 60px
  ),
  h2: (
    mobile: 28px,
    base : 40px
  ),
  h3: (
    mobile: 22px,
    base : 30px
  ),
  h4: (
    mobile: 20px,
    base : 24px
  ),
  p: (
    mobile: 18px,
    base : 18px
  ),
);

//
//  @function: font-format
//  @param: {string} The base font-size ( h1 | h2 ...) name.
//  @param: {string} The font-size shade, if ommmited the function returns the base font-size.
//  @description: Returns the font-size value of our global heading.
//  @example:
//  ```
//    font-format(h1)
//    font-format(h1, mobile)
//    font-format(h3, mobile)
//  ```
//
@function font-format($size, $value: 'base') {
  @return map-get(map-get($font-formats, $size), $value);
}