// Corporation Variables

// Paths
$path-to-fonts: "../fonts/";
$path-to-images: "../images/";

// Grid
$screen-max: 1200px;

//Header
$logo-size-mobile: 50px;
$logo-size: 60px;
$top-clearance-mobile: 70px;
$top-clearance: 90px;
$header-color-bg: rgba(palette(black), 0.65);

// Buttons
$button-border: 2px;

// Carousel
$carousel-height: 40px;

// Animations
$transition-duration: 0.35s;

//
// Breakpoints
// =====================================================================================================================
//
// Hold our breakpoint aliases and conditions in a list.
// These can be invoked later on via the `breakpoint()` mixin the breakpoint are defined in the mixins class
// breakpoints vars are defined in the bootstrap variables class under modules
//
$breakpoints: (
        "xs": "screen and (max-width: #{$screen-xs-max})",
        "sm": "screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})",
        "sm-and-up": "screen and (min-width: #{$screen-sm-min})",
        "md": "screen and (min-width: #{$screen-md-min})",
        "pt": "print"
) !default;
