<a href="" data-href="$nextUrl$">ABC</a>
<a href="" data-href="$nextUrl $nextUrl$ nextUrl nextUrl$">ABC</a>
<a href="" data-href="$nextUrl $nextUrl$ nextUrl nextUrl$">ABC</a>
<a href="" data-href="$nextUrl $nextUrl$ nextUrl nextUrl$">ABC</a>