<div class="toggle" data-id="25" id="toggle1">
  <button class="toggle-button">toggle</button>
  <div class="toggle-container">TESTDATA</div>
</div>
<div class="toggle" data-id="26" id="toggle2">
  <button class="toggle-button">toggle</button>
  <div class="toggle-container">TESTDATA</div>
</div>
<div class="toggle" data-id="27" id="toggle3">
  <button class="toggle-button">toggle</button>
  <div class="toggle-container">TESTDATA</div>
</div>