<div id="sqHelper-window-body">
  <p>
    Die Suchanfrage wird benutzt um eine Menge von Inhalten dynamisch zu bestimmen, z.B. die
    Top 3 Nachrichten eines bestimmten Bereichs. Als Redakteur m&uuml;ssen Sie dadurch nicht
    mehr die Inhalte an einem bestimmten Platz innerhalb der Webseite manuell austauschen, da
    dies durch die gespeicherte Suchanfrage automatisch erfolgt.<br/>
    Die Suchanfrage kann sowohl Standardsuchanfrageparameter (z.B. &quot;keyword: Sport&quot;), als
    auch personalisierte Suchfunktionen (z.B. &quot;userKeywords(...)&quot;) enthalten. Verkn&uuml;pfungen mit
    &quot;AND&quot;/&quot;OR&quot; sind m&ouml;glich. Weitere Informationen zur verwendbaren
    Suchanfragesprache finden Sie unter
      <a href="http://wiki.apache.org/solr/SolrQuerySyntax"
         target="solr_query_syntax">http://wiki.apache.org/solr/SolrQuerySyntax</a>.
    Welche
    Felder im Suchindex vorhanden sind, ist abh&auml;ngig von Ihrer CoreMedia-Installation und den
    gemachten Anpassungen. Bitte fragen Sie dazu Ihren Systemadministrator bzw. schauen Sie in die
    Konfiguration der CoreMedia-Searchengine.
  </p>

  <p>
    Die personalisierten Suchfunktionen erzeugen einen Teil der Suchanfrage dynamisch f&uuml;r einen
    konkreten Webseitenbenutzer. Zum Beispiel kann die Suchfunktion &quot;userKeywords(...)&quot; die
    vom aktuellen Benutzer meistgeklickten Keywords in die Suchanfrage einbauen. Dadurch
    werden nur Inhalte gefunden, deren Inhalte den Interessen des Benutzers entsprechen.
  </p>

  <p>
    Die folgende Tabelle enh&auml;lt eine Liste der installierten Suchfunktionen:
  </p>
  <table>
    <tr>
      <th>Name</th>
      <th>Beschreibung</th>
    </tr>
    <tr>
      <td>
        contextProperty
      </td>
      <td>
        <p>
          Suchfunktion, die den Wert einer Property eines Kontexts zur Suchanfrage hinzuf&uuml;gt.
        </p>

        Parameter:
        <dl>
          <dt>property</dt>
          <dd>Die Property des Kontexts in der Form &lt;context&gt;.&lt;property&gt;</dd>
          <dt>field</dt>
          <dd>Das Suchmaschinenfeld, das durchsucht werden soll</dd>
        </dl>

        <p>
          Beispiel: Angenommen, es gibt eine Property &quot;foo&quot; des Kontexts &quot;bar&quot; mit dem Wert
          &quot;42&quot;. In diesem Fall w&uuml;rde der Aufruf &quot;contextProperty(property:bar.foo,
          field:field)&quot; zu &quot;field:42&quot; ausgewertet werden.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        userKeywords
      </td>
      <td>
        <p>
          Suchfunktion, die die Keywords aus dem Kontext eine Benutzers ausw&auml;hlt, die eine Bedingung hinsichtlich
          der Gewichtung erf&uuml;llen.
        </p>

        Parameter:
        <dl>
          <dt>limit</dt>
          <dd>Beschr&auml;nkt die Anzahl der zur&uuml;ckgelieferten Keywords (ein negativer oder fehlender Wert hei&szlig;t
            &quot;keine Beschr&auml;nkung&quot;)
          </dd>
          <dt>field</dt>
          <dd>Das Suchmaschinenfeld, das durchsucht werden soll</dd>
          <dt>threshold</dt>
          <dd>Die Mindest-Gewichtung, die die zur&uuml;ckgelieferten Keywords haben sollen</dd>
          <dt>context</dt>
          <dd>Der Kontext, der die Keywords enth&auml;lt</dd>
        </dl>

        <p>
          Beispiel: Angenommen, Sie haben ein Kontextobjekt mit dem Namen &quot;myContext&quot; und den Properties
          (&quot;foo&quot;, 0.8), (&quot;bar&quot;, 0.5) und (&quot;zork&quot;, 0.1). Dann w&uuml;rde
          &quot;userKeywords(threshold:0.5, limit:-1, field:field, context:myContext)&quot; durch &quot;field:(foo bar)&quot;
          und &quot;userKeywords(threshold:0.5, limit:1, field:field, context:myContext)&quot; durch &quot;field:(foo)&quot;
          ersetzt werden.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        userSegments
      </td>
      <td>
        <p>
          Suchfunktion, die die Menge von Benutzersegmenten ausw&auml;hlt, zu denen ein angemeldeter Benutzer geh&ouml;rt.
        </p>

        Parameter:
        <dl>
          <dt>field</dt>
          <dd>Das Suchmaschinenfeld, das durchsucht werden soll</dd>
          <dt>context</dt>
          <dd>Der Kontext, der die Segment-Properties enth&auml;lt</dd>
        </dl>

        <p>
          Beispiel: Angenommen, Sie haben ein Kontextobjekt mit dem Namen &quot;myContext&quot; und den Properties
          (&quot;content:42&quot;, true), (&quot;content:44&quot;, false) und (&quot;content:46&quot;, true). In diesem Fall
          w&uuml;rde &quot;userSegments(field:field, context:myContext)&quot; durch &quot;field:(42 46)&quot; ersetzt
          werden.
          Diese Funktion ist f&uuml;r die Nutzung mit den Benutzersegmenten von CoreMedia Adaptive Personalization
          gedacht. Diese nutzt Property-Keys der Form &quot;content:&lt;segmentID&gt;&quot;, (wobei segmentId die
          numerische Content Id des Segments ist) um Segmente in dem Kontext eines Benutzers abzubilden.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        userVisitedPages
      </td>
      <td>
        <p>
          Suchfunktion, die sich merkt, welche Seiten ein Benutzer bereits betrachtet hat.
        </p>

        <p>
          Beispiel: Angenommen, Sie möchten eine Liste von Dokumenten anzeigen, die der Benutzer bereits betrachtet hat.
          Darüber hinaus kann die Suchfunktion benutzt werden, um Elemente aus einer Liste zu filtern, die der Benutzer
          bereits betrachtet hat(NOT userVisitedPages()).
        </p>
      </td>
    </tr>
    <tr>
      <td>
        userSegmentTaxonomies
      </td>
      <td>
        <p>
          Eine Suchfunction die überprüft, welche Taxonomien in einem Segment verlinkt sind.
        </p>

        Parameters:
        <dl>
          <dt>field</dt>
          <dd>the field the taxonomy is linked under</dd>
        </dl>

        <p>
          Beispiel: Ein Benutzer kam über eine Suche nach "Sport" auf die Website. Da dies eine Bedingung des Segments
          Sport ist, wird der Benutzer diesem Segment zu gewiesen. Das Segment beinhaltet als weitere Regel, dass alle
          Dokumente die mit Sport getaggt sind, ebenfalls diesem Segment zugewiesen werden. Deswegen kann man nun mit
          Hilfe der Suchfunktion die Verbindung zwischen dem Segment "Sport" und den getaggten Dokumenten herstellen.
        </p>
      </td>
    </tr>
  </table>
</div>