@charset "UTF-8";

/**
  * coremedia alx-studio-plugin
  *
  * @copyright       CoreMedia
  * @author          KLE/SEC
  *
  * @lastmodified    fri 14.11.2014
  */

.indented-child-container .x-panel-bwrap {
  padding-left: 26px;
  margin-top: 5px;
}