@charset "UTF-8";

/**
  * coremedia extensions studio
  *
  * @copyright       CoreMedia
  * @author          MFA/SEC
  *
  * @lastmodified    mon 24.03.2014
  */

/**
  * toolbar user defined search
  */
.btn-user-search {
  background: url('../images/search_32_0.png') no-repeat center 0 !important;
}
.x-btn-over .btn-user-search {
  background: url('../images/search_32_h.png') no-repeat center 0 !important;
}
.x-btn-click .btn-user-search {
  background: url('../images/search_32_a.png') no-repeat center 0 !important;
}
.btn-create {
  background: url("../images/cm-32-create-content.png") no-repeat scroll center 0 transparent !important;
}
.btn-create-over button {
  background-position: 24px -64px !important;
}