.cm-faq-accordion {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &__item {
    box-sizing: border-box;
    list-style: none;
    padding-left: 40px;
  }

  &__collection {
    box-sizing: border-box;
    list-style: none;
    width: 100%;

    @include mq(lap){
      width: 50%;
      float: left;
      padding-left: $spacing;
      margin-bottom: 50px;

      &:nth-child(odd){
        clear: left;
      }
    }

    @include mq(desk){
      width: 33.3333%;
      float: left;
      padding-left: $spacing;
      margin-bottom: 50px;

      &:nth-child(4n){
        clear: left;
      }
    }
  }
}