.cm-faq-answer{
  &__title {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 0;
    display: inline-block;
    background-color: #80a3bf;
    font-weight: normal;
    padding: 4px 7px;
    line-height: 18px;

    @include mq(lap-and-up) {
      line-height: 36px;
      padding: 8px 14px;
      font-size: 30px;
    }
  }
  
  &__content {
    display: block;
    padding: 30px 0px;

    @include mq(lap-and-up) {
      padding: 30px 16px;
    }
  }
}
