.cm-faq {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'PT Sans', Arial, sans-serif;

  & a {
    transition: color 0.4s ease;
    &:hover {
      color: $btnColor;
    }
  }
}