.cm-faq-group {

  &__title {
    font-size: 22px;
  }

  &__main {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;

    @include mq(lap-and-up){
      width: 70%;
      float: left;
      padding-left: $spacing;

      &:after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: #4d4d4d;
        position: absolute;
        right: -25px;
        top: 0px;
      }
    }
  }

  &__aside {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;

    @include mq(lap-and-up){
      width: 30%;
      float: left;
      padding-left: $spacing;
    }
  }

}
