.cm-faq-help {
  &__title {
    font-size: 22px;
  }

  &__collection {
    list-style: none;
    padding: 0;
  }

  &__header {
    font-size: 18px;
    padding: 10px 0px;
    display: block;

    &.active {
     color: $btnColor;
    }
  }
}