.cm-faq {

  &__picture {
    background: #eeeeee;
    @include stretch-absolute();
  }

  &__picture-box {
    @include aspect-ratio-box(5, 2);
  }
}

.cm-image {

  /* responsive image, use width of outer container */
  &--responsive,
  &.cm-responsive-image {
    vertical-align: middle;
    width: 100%;
  }

  /* lazy loading, show spinner */
  &--loading {
    background-color: #555555;
    background-image: url("../images/loader_big.gif");
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
  }
}

// need for templates from basic theme
.cm-aspect-ratio-box__content {
  @include stretch-absolute();
}
