.cm-faq-item {
  &__header {
    font-size: 22px;
    display: block;
    cursor: pointer;
    padding: 10px 0px;

    &--overview {
      @include mq(lap-and-up) {
        cursor: default;
      }
    }

    &--small {
      font-size: 18px;
      font-weight: normal;
      padding: 10px 0px;

      &:before {
        @include dot();
      }
    }

    &.is-open {
      cursor: default;
    }
  }

  &__content {
    list-style: none;
    display: none;
    padding: 0;

    &--border {
      padding: 10px 10px 10px 50px;
      border-bottom: 1px solid #919191;
    }
    &--overview {
      @include mq(lap-and-up) {
        display: block;
      }
    }

    &.is-open {
      display: block;
    }

    & li {
      & a {
        text-decoration: underline;
        padding: 10px 0px 10px 40px;
        display: block;
        font-size: 18px;

        &:before {
          @include dot();
        }
      }
    }
  }
}