.cm-faq-rq {
  &__title {
    font-size: 22px;
  }

  &__content {
    list-style: none;
    padding: 0;

    & li {
      & a {
        text-decoration: underline;
        padding: 10px 0px 10px 40px;
        display: block;
        font-size: 18px;

        &:before {
          @include dot();
        }
      }
    }
  }
}
