/* =====================================================================================================================
   Fall theme
   Contains styling rules used for atoms/molecules used in perfectchef spring theme
   ================================================================================================================== */

body {
  background: #c0e675 url(../img/spring.jpg) repeat-x fixed;
}

.cm-placement-footer {
  background-color: #d1dcb1;
}

#cm-page {
  background: #ffffff;
  -moz-box-shadow: 30px -30px 80px 20px rgba(255, 255, 255, 1), -30px -30px 80px 20px rgba(255, 255, 255, 1), 30px 30px 80px 20px rgba(255, 255, 255, 1), -30px 30px 80px 20px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 30px -30px 80px 20px rgba(255, 255, 255, 1), -30px -30px 80px 20px rgba(255, 255, 255, 1), 30px 30px 80px 20px rgba(255, 255, 255, 1), -30px 30px 80px 20px rgba(255, 255, 255, 1);
  box-shadow: 30px -30px 80px 20px rgba(255, 255, 255, 1), -30px -30px 80px 20px rgba(255, 255, 255, 1), 30px 30px 80px 20px rgba(255, 255, 255, 1), -30px 30px 80px 20px rgba(255, 255, 255, 1);
}
