/* =====================================================================================================================
   Tablet, Landscape
   ================================================================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {

  /* hidden flags defining screen type and orientation for javascript */
  body:before {
    content: 'landscape';
  }

  /* --- teaser hero ------------------------------------------------------------------------------------------------ */
  /* boxes */
  .cm-teaser--hero .cm-aspect-ratio-box:before {
    padding-top: 56.25%; /* 16:9 */
  }

  /* --- productlisting collection ---------------------------------------------------------------------------------- */
  .cm-collection--productlisting > .cm-collection__item,
  .cm-collection--productlisting > .cm-collection--masonry__grid-sizer {
    /* fallback for older browsers, meaning they should not have a gutter */
    width: 25%;
    /* (100% - 24px) / 4 */
    width: calc(25% - 6px);
  }

  /*
  * fix for inaccuracy in float calculation coming from browser breaking masonry on certain container widths,
  * css rule can be deleted as soon as fixed on browser side or handled by masonry
  */
  .cm-collection--productlisting > .cm-collection--masonry__grid-sizer {
    /* fallback for older browsers, meaning they should not have a gutter */
    width: 25%;
    /* (100% - 24px) / 4 */
    width: calc(25% - 6px - 1px / 100);
  }

  /* remove gutter for elements in the last row */
  /* first element of last row */
  .cm-collection--productlisting > .cm-collection__item:nth-of-type(4n+1):nth-last-of-type(-n+4),
  /* and for all following elements */
  .cm-collection--productlisting > .cm-collection__item:nth-of-type(4n+1):nth-last-of-type(-n+4) ~ .cm-collection__item {
    margin-bottom: 0;
  }

  /* --- Subcategory Teaser Category Page --------------------------------------------------------------------------- */
  .cm-collection--categories > .cm-collection__item,
  .cm-collection--categories > .cm-collection--masonry__grid-sizer {
    /* fallback for older browsers, meaning they should not have a gutter */
    width: 33%;
    /* (100% - 16px) / 3  */
    width: calc(100% / 3 - 16px / 3);
  }

  /*
  * fix for inaccuracy in float calculation coming from browser breaking masonry on certain container widths,
  * css rule can be deleted as soon as fixed on browser side or handled by masonry
  */
  .cm-collection--categories > .cm-collection--masonry__grid-sizer {
    /* fallback for older browsers, meaning they should not have a gutter */
    width: 33%;
    /* (100% - 16px) / 3  */
    width: calc(100% / 3 - 16px / 3 - 1px / 100);
  }

  .cm-collection--categories .cm-teaser--category {
    padding: 0 20px;
  }

  .cm-collection--categories .cm-collection__item:first-child .cm-teaser--category, .cm-collection--categories .cm-collection__item:nth-child(4) .cm-teaser--category {
    padding: 0 0 0 40px;
  }

  .cm-collection--categories .cm-collection__item:nth-child(3) .cm-teaser--category {
    padding: 0 40px 0 0;
  }

  /* remove gutter for elements in the last row */
  /* first element of last row */
  .cm-collection--categories > .cm-collection__item:nth-of-type(3n+1):nth-last-of-type(-n+3),
  /* and for all following elements */
  .cm-collection--categories > .cm-collection__item:nth-of-type(3n+1):nth-last-of-type(-n+3) ~ .cm-collection__item {
    margin-bottom: 0;
  }

  .cm-quickinfo__image.cm-aspect-ratio-box:before {
    /* 4:3*/
    padding-top: 75%;
  }

  /* -- button ------------------------------------------------------------------------------------------------------ */
  /* groups */
  .cm-button-group--default .cm-button-group__button {
    display: inline-block;
    width: 50%;
    width: calc(50% - 5px);
  }

  .cm-button-group--default .cm-button-group__button:nth-child(2n) {
    margin-left: 0;
    margin-left: calc(10px);
  }

  .cm-button-group--default .cm-button-group__button:nth-child(2n+1) {
    margin-top: 10px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    margin-left: 8px;
  }

  .cm-button-group--equal .cm-button-group__button:nth-child(n+2) {
    display: none;
  }

  /* -- search ------------------------------------------------------------------------------------------------------ */

  .cm-search-form__fieldset {
    padding: 0;
  }

  /* -- article ----------------------------------------------------------------------------------------------------- */
  .cm-text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }

  .cm-text--single-column  {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  /* --- accordion -------------------------------------------------------------------------------------------------- */
  .cm-accordion-item__content {
    padding-left: 73px;
  }

  .cm-rate__icon,
  .cm-share__icon {
    font-size: 2rem;
  }
}