@charset "UTF-8";

/**
  * coremedia blueprint quick-create-studio-plugin
  *
  * @copyright       CoreMedia
  * @author          MFA/MCO/SEC
  */

.quick-create-path-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -1px
}
.navigation-link-list .x-grid3-row-first.x-grid3-row-last {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  height: 23px;
  line-height: 15px;
  width: 100% !important;
  border: 1px solid #BCBCBC !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.navigation-link-list .x-grid-empty .link-list-property-drop-container {
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
}
.navigation-link-list .x-grid3-body,
.navigation-link-list .x-grid3-row,
.navigation-link-list .x-grid3-table,
.navigation-link-list .x-grid3-row-table {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100% !important;
}

/**
  * icons in grids
  */
.quickcreate-path-arrow,
.x-grid3-row-selected .quickcreate-path-arrow {
    background: transparent url("../images/cm-16--quickcreate-tool.png") no-repeat left 0;
    display: inline-block;
    padding: 0;
    margin: 0 3px;
    width: 16px;
    height: 16px;
    text-decoration: none;
    cursor: default;
    outline: none;
    vertical-align: text-top;
}
.quickcreate-path-arrow {
    background-position: left 0;
}
.x-grid3-row-selected .quickcreate-path-arrow {
    background-position: left -16px;
}

.quickcreate-form-panel {
  padding: 6px 12px 6px 12px;
}

