@charset "UTF-8";

/**
  * coremedia struct components
  *
  * @copyright       CoreMedia
  * @author          SEC /[¦¬-O)>=°)=¦
  *
  * @lastmodified    mon 04.03.2013
  */

/**
  * rounded corners for Struct textfield
  */
.struct-tree-panel .x-panel-body {
  background-color: #FFF !important;
  border: 1px solid #BCBCBC;
  padding: 1px;
  -moz-border-radius: 2px; /* firefox rounded corners */
  -webkit-border-radius: 2px; /* webkit rounded corners */
  border-radius: 2px; /* ie9 rounded corners */
}
.readonly .struct-tree-panel .x-panel-body {
  background-color: #F1F1F1 !important;
}
.struct-tree-panel-error .x-panel-body {
  -moz-border-radius: 2px; /* firefox rounded corners */
  -webkit-border-radius: 2px; /* webkit rounded corners */
  border-radius: 2px; /* ie9 rounded corners */
  border: 1px solid #F30;
  background-color: #FFE7E1;
}
.struct-editor-title {
  font-weight: bold !important;
  line-height: 1em;
  padding: 8px 0 6px;
  display: block;
}
.struct-input-fields {
  border: 1px solid #BCBCBC;
  border-radius: 2px;
}
.btn-show-plain-xml {
  background-image: url("../images/show_plain_xml.png") !important;
}
.btn-struct-paste {
  background-image: url("../images/paste.png") !important;
}
.btn-node-up {
  background-image: url("../images/up.png") !important;
}
.btn-node-down {
  background-image: url("../images/down.png") !important;
}
.btn-node-copy {
  background-image: url("../images/copy_16.png") !important;
}
.x-tree-node .struct-status-ok {
  background: transparent url("../images/ok.png") no-repeat left 0 !important;
}
.struct-element-text {
  margin-left: -18px;
}
.struct-element-text-error {
  border-radius: 2px;
  margin-left: -18px;
  color: #000 !important;
  background-color: #F30;
}
.struct-element {
  color: #3600A5 !important;
  margin-right: -3px;
  margin-left: -3px !important;
}
.struct-element-value {
  font-weight: bold !important;
  margin-left: -5px;
  margin-right: -4px;
}
.struct-element-close {
  color: #3600A5 !important;
}
.struct-element-closing {
  color: #3600A5 !important;
  margin-left: 1px;
  margin-right: -3px
}
.struct-attribute {
  color: #00F !important;
}
.struct-attribute-value {
  color: #007F36 !important;
  margin-left: -3px;
  margin-right: -3px;
}

/**
  * color overrides for selected rows
  */
.x-tree-node .x-tree-selected a span.struct-element-text span,
.x-tree-node .x-tree-selected a span.struct-element-text-error span {
  color: #FFF !important;
}

/**
  * INT
  */
.btn-struct-1 {
  background-image: url("../images/int.png") !important;
}
.btn-struct-2 {
  background-image: url("../images/int_property.png") !important;
}
.btn-struct-3 {
  background-image: url("../images/int_list.png") !important;
}

/**
  * STRING
  */
.btn-struct-4 {
  background-image: url("../images/string.png") !important;
}
.btn-struct-5 {
  background-image: url("../images/string_property.png") !important;
}
.btn-struct-6 {
  background-image: url("../images/string_list.png") !important;
}

/**
  * BOOLEAN
  */
.btn-struct-7 {
  background-image: url("../images/boolean.png") !important;
}
.btn-struct-8 {
  background-image: url("../images/boolean_property.png") !important;
}
.btn-struct-9 {
  background-image: url("../images/boolean_list.png") !important;
}

/**
  * STRUCT
  */
.btn-struct-10 {
  background-image: url("../images/link.png") !important;
}
.btn-struct-11 {
  background-image: url("../images/link_property.png") !important;
}
.btn-struct-12 {
  background-image: url("../images/link_list.png") !important;
}

/**
  * STRUCTLIST
  */
.btn-struct-13 {
  background-image: url("../images/structlist.png") !important;
}
.btn-struct-14 {
  background-image: url("../images/structlist_property.png") !important;
}
.btn-struct-15 {
  background-image: url("../images/structlist_list.png") !important;
}

/**
  * PASSWORD
  */
.btn-struct-16 {
  background-image: url("../images/password_property.png") !important;
}

/**
  * buttons in struct editor
  */
.btn-show-plain-xml,
.btn-struct-paste,
.btn-node-up,
.btn-node-down,
.btn-node-copy,
.btn-struct-1,
.btn-struct-2,
.btn-struct-3,
.btn-struct-4,
.btn-struct-5,
.btn-struct-6,
.btn-struct-7,
.btn-struct-8,
.btn-struct-7,
.btn-struct-8,
.btn-struct-9,
.btn-struct-10,
.btn-struct-11,
.btn-struct-12,
.btn-struct-13,
.btn-struct-14,
.btn-struct-15,
.btn-struct-16 {
  display: block;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  text-decoration: none;
  cursor: default;
  outline: none;
  position: absolute;
  top: 3px;
  left: 4px;
}