// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Buttons
========================================================================================================================

Contains styling definitions for all content types as cm-button.
- cm-button
- cm-button--primary
- cm-button--white
*/

.cm-button {
  white-space: normal; //overwrite bootstraps nowrap for CTAs with long text
  transition: all $transition-duration ease;
  @include transparent-button(palette(grey, darker), palette(white));

  //primay button with white hover
  &--primay {
    @include transparent-button($brand-primary, palette(white));
  }

  //white button with grey-darker hover
  &--white {
    @include transparent-button(palette(white), palette(grey, darker))
  }
}
