// Imports
@import "../base/imports";
@import "../utils/imports";

body, html {
  height: 100%;
}

/*
Grid
========================================================================================================================

Contains styling definitions for all content types as cm-grid.
- cm-grid
- cm-grid--with-superhero
- cm-grid--corporate-detailpage--sidebar
- cm-javascript
*/

.cm-grid {
  margin-top: $top-clearance-mobile;

  @include breakpoint(sm-and-up) {
    margin-top: $top-clearance;
  }

  .cm-header {
    margin-top: -$top-clearance-mobile;

    @include breakpoint(sm-and-up) {
      margin-top: -$top-clearance;
    }
  }

  &__item {
    position: relative;
    background-color: palette(white);
    width: 100%;
  }

  // is triggerd by js
  &--disabled-scrolling {
    overflow: hidden;
    @include breakpoint(md) {
      overflow: visible;
    }
  }

  /* special header if superhero teaser is present */
  &--with-superhero {
    margin-top: 0;

    .cm-header {
      background: none;
      margin-top: 0;
      transition: background $transition-duration ease(in-out-quad);

      &--open,
      &--scrolled {
        background: $header-color-bg;
        transition: background $transition-duration ease(in-out-quad);
      }
    }
  }

  /* gaps and superhero teasers do not work in rows with multiple columns */
  &--corporate-detailpage--sidebar {
    /* row containing placement main and placement sidebar */
    .cm-row:nth-child(4) {
      @include center-margin(x);
      max-width: $screen-max;
    }

    /* text in teaser with smaller font, because of less space (10cols instead 12cols, 'cause sidebar */
    @include breakpoint("sm-and-up") {
      .cm-teasable__text {
        font-size: $font-size-small;
      }
    }
  }
}

// no-js infobox
.cm-javascript {
  display: none;
}

.no-js {
  margin-top: 40px;

  .cm-javascript {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    background: palette(black);
    color: palette(white);
    text-align: center;
  }
}

// full height rows and cols for tablets and desktops
@include breakpoint(sm-and-up) {
  .cm-row--full-height {
    display: table;
    width: 100%;
    height: 100%;
    /* fix overflow */
    table-layout: fixed;
  }

  .cm-col--full-height {
    height: 100%;
    display: table-cell;
    float: none;
    vertical-align: top; // needed for firefox
  }
}

// need for templates from basic theme
.cm-aspect-ratio-box__content {
  @include stretch-absolute();
}
