// Imports
@import "../base/imports";
@import "../utils/imports";

// Variables
$line-width: 40px;

/*
Header
========================================================================================================================

Contains styling definitions for all content types as cm-header.
- cm-header
- cm-breadcrumb
*/

.cm-header {
  position: fixed;
  width: 100%;
  z-index: 3;
  border: none;
  height: $logo-size-mobile;
  transition: background $transition-duration ease(in-out-quad);

  @include breakpoint(sm-and-up) {
    height: $logo-size;
  }

  /* button fixed top right */
  &__button {
    padding: 0;
    margin: $padding-base-horizontal - 5px $padding-base-horizontal 0 0;
    cursor: pointer;
    border: none;
    height: 31px;

    @include breakpoint(sm-and-up) {
      margin: $padding-base-horizontal $padding-base-horizontal 0 0;
    }

    @include breakpoint(md) {
      opacity: 0.8;
      transition: opacity $transition-duration ease(in-out-quad);
    }

    &:hover {
      opacity: 1;
    }

    &.navbar-toggle {
      .icon-bar {
        display: none;
      }

      span:nth-child(2) {
        background-color: transparent;
        display: block;
        margin: 0;
        width: $line-width;
        height: 5px;
        border-radius: 1px;
        position: relative;

        &:before,
        &:after {
          display: block;
          width: $line-width;
          height: 5px;
          background-color: palette(white);
          border-radius: 1px;
          position: absolute;
          left: 0;
          content: '';
          transition: top .2s ease(in-out-quad), transform .2s .2s ease(in-out-quad);
        }

        &:before {
          top: 0;
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
          top: 0;
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }

    &.navbar-toggle.collapsed {

      span:nth-child(2) {
        background-color: palette(white);

        &:before,
        &:after {
          transition: top .2s .2s ease(in-out-quad), transform .2s ease(in-out-quad);
        }

        &:before {
          top: -10px;
          transform: rotate3d(0, 0, 0, 0deg);
        }

        &:after {
          top: 10px;
          transform: rotate3d(0, 0, 0, 0deg);
        }
      }

      &:hover {
        span:nth-child(2) {
          &:before {
            top: -13px;
          }

          &:after {
            top: 13px;
          }
        }
      }
    }
  }

  /* items fixed top right next to button */
  &__items {
    position: absolute;
    top: $logo-size-mobile;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: palette(white);
    color: palette(grey);

    > li {
      position: relative;
      display: inline-block;
      padding: $padding-base-vertical $padding-base-horizontal;
      text-transform: uppercase;

      a {
        color: palette(grey);
        display: block;

        &:hover {
          color: $brand-primary;
        }
      }
    }

    @include breakpoint(sm-and-up) {
      top: 0;
      left: auto;
      right: 70px;
      line-height: $logo-size;
      background-color: transparent;
      color: palette(white);

      > li {
        padding: 0 $padding-base-horizontal;

        a {
          color: palette(white);
        }
      }
    }
  }
}

/* breadcrumb fixed top left next to logo */
.cm-breadcrumb {
  display: none;

  @include breakpoint(sm-and-up) {
    display: block;
    position: absolute;
    top: 0;
    left: $logo-size+2*$padding-base-horizontal;
    margin: 0;
    line-height: $logo-size;

    &__item a {
      color: palette(white);
    }

    &__item a:hover {
      color: palette(red, lighter);
    }

    & > li + li::before {
      content: ">\00a0"; /* overwrite bootstrap, cause of libsass double escaping */
    }
  }

  &--outer {
    height: auto !important; /* overwrite bootstrap javascript inline height */
  }
}
