// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Hero
========================================================================================================================

Contains styling definitions for all content types as cm-hero.
- cm-hero
*/

.cm-hero {
  position: relative;

  &__picture-box {
    @include aspect-ratio-box(4, 3);

    @include breakpoint(sm-and-up) {
      @include aspect-ratio-box(16, 9);
    }
  }

  &__picture {
    background: $brand-primary;
    @include stretch-absolute();
  }

  &__dimmer {
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: -webkit-linear-gradient(bottom, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
    background: -moz-linear-gradient(bottom, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
    background: linear-gradient(to top, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
  }

  &__banderole,
  &__cta {
    @include banderole(8%);
  }

  &__button,
  &__text,
  &__headline {
    color: palette(white);
    margin-top: 0;
    margin-bottom: $padding-base-horizontal;

    @include breakpoint(sm-and-up) {
      margin-bottom: $padding-large-horizontal;
    }
  }

  &__headline,
  &__text {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}
