// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Logo
========================================================================================================================

Contains styling definitions for all content types as cm-logo.
- cm-logo
*/

.cm-logo {
  position: relative;
  line-height: 0;

  :hover {
    opacity: 1;
  }

  &__image {
    position: relative;
    display: inline-block;
    background: url("#{$path-to-images}logo.svg") no-repeat center center;
    background-size: $logo-size-mobile  - 10px;
    padding: $padding-base-horizontal - 10px;
    width: $logo-size-mobile;
    height: $logo-size-mobile;
    z-index: 4;

    @include breakpoint(sm-and-up) {
      width: $logo-size;
      height: $logo-size;
      background-size: $logo-size  - 10px;
    }

    @include breakpoint(md) {
      opacity: 0.8;
      transition: opacity $transition-duration ease(in-out-quad);
    }
  }
}