// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Medialist
=====================================================================================================================

Contains styling definitions for all content types as cm-medialist.
- cm-medialist
*/

.cm-medialist {
  padding: 0 $padding-base-horizontal $padding-base-horizontal 0;
  margin: 0;
  @include clearfix;

  @include breakpoint(sm-and-up) {
    padding: 0 $padding-large-vertical $padding-large-vertical 0;
  }

  &__picture-box {
    float: left;
    width: percentage(1/3);
    @include aspect-ratio-box(1, 1);
  }

  &__picture {
    @include stretch-absolute();
  }

  &__caption {
    float: left; 
    width: percentage(2/3);
    padding: 0 0 0 $padding-base-vertical;
  }

  &__headline:hover {
    text-decoration: underline;
  }

  &__time {
    display: block;
    line-height: 1;
    color: $brand-primary;
    padding-bottom: $padding-small-horizontal;
  }

  &__headline {
    margin: 0;
    padding-bottom: $padding-small-horizontal;
  }

  &__text {
    margin: 0;
  }
}
