// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Superhero
========================================================================================================================

Contains styling definitions for all content types as cm-superhero.
- cm-superhero
*/

.cm-superhero {
  position: relative;
  // fixed the glitch in the responsive image
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;

  &__image {
    background-color: $brand-primary;
    // fixed the glitch in the responsive image
    // therefore use vh and vw and not %
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;

    .cm-image {
      background: no-repeat center center;
      background-size: cover;
      @include stretch-absolute();
    }
  }

  &__dimmer {
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: -webkit-linear-gradient(bottom, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
    background-image: linear-gradient(to top, rgb(13, 16, 16), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%, rgba(13, 16, 16, 0.47) 100%);
  }

  &__banderole,
  &__cta {
    @include banderole(3%);
  }

  &__button,
  &__text,
  &__headline {
    color: palette(white);
    margin-top: 0;
    margin-bottom: $padding-large-horizontal;
  }

  &__headline,
  &__text {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  &__text {
    font-size: font-format(h4, mobile);

    @include breakpoint(sm-and-up) {
      font-size: font-format(h4);
    }
  }
}
