// Imports
@import "../base/imports";
@import "../utils/imports";

/*
Text
========================================================================================================================

Contains styling definitions for all content types as cm-text.
- cm-text
*/

.cm-text {
  border: none;
  text-align: center;
  margin: 0;
  height: 100%;
  padding: $padding-large-horizontal $padding-base-horizontal;

  @include breakpoint(sm-and-up) {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: $padding-large-horizontal+48px; //  + button height
  }

  @include spacer(palette(grey, light));

  &__headline {
    color: $brand-primary;
    padding-bottom: $padding-large-vertical;
    margin: 0;
  }

  // position the button
  &__button {
    margin-top: $padding-large-vertical;

    @include breakpoint(sm-and-up) {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
