// Imports
@import "../base/imports";

// Provides a set of generic helper mixins.

//
// Applies styles clear the floating. 
// 
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//
// A mixin to generate whole media queries from the aliases
// @param: {list} The screen names which is defined in the breakpoint class.
// @example:
// ```
// @include breakpoint(mobile) {
// background-color: red;
// }
// @include breakpoint(tablet_and_up) {
// background-color: green;
// }
// @include breakpoint(desktop) {
// background-color: blue;
// }
// ```
//
@mixin breakpoint($name) {
  $breakpoint-found: map_has_key($breakpoints, $name);
  @if $breakpoint-found {
    @media #{map_get($breakpoints, $name)} {
      @content;
    }
  } @else {
    // If the user specifies a non-exitent alias, send them a warning.
    @warn "Breakpoint ‘#{$name}’ is not defined.";
  }
}

//
// Load Webfonts
//
// disable eot and svg fonts, see
// http://davidensinger.com/2014/10/update-your-font-face-file-formats-to-just-use-woff-and-woff2/ and
// https://css-tricks.com/snippets/css/using-font-face/
// supported browsers: Chrome 6+, Safari 3+, Firefox 3.5+, Opera 10+, IE 9+, Android 4.1+, iOS 7.1+
//
@mixin font-face($style-name, $file, $weight: normal, $style: normal) {
  $filepath: $path-to-fonts + $file;
  @font-face {
    font-family: "#{$style-name}";
    font-weight: $weight;
    font-style: $style;
    src: url($filepath + ".woff2") format('woff2'), // Super Modern Browsers
         url($filepath + ".woff") format('woff'), // Pretty Modern Browsers
         url($filepath + ".ttf") format('truetype'); // Safari, Android, iOS
  }
}

// 
// Generates the heading
// Type are based on bootstraps heading, @see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_type.scss
//  @example:
// ```
//  @include headings;
// ```
// 
// Will generate from the headings array which is defined in the base/headings.
// If you need a new heading like h4 just added it to the heading array in the base/headings.
// 
//   h1, .h1 {
//     font-size: 40px;
//     font-size: 60px;
//   }
// 
//   h2, .h2 {
//     font-size: 28px;
//     font-size: 40px;
//   }
// 
//   h3, .h3 {
//     font-size: 22px;
//     font-size: 30px;
//   }
// 
//   p, .p {
//     font-size: 18px;
//     font-size: 18px;
//   }
// 
//
@mixin headings() {
  @each $h, $size in $font-formats {
    #{$h}, .#{$h} {
      font-size: map-get($size, mobile);
      @include breakpoint(sm-and-up) {
        font-size: map-get($size, base);
      }
    }
  }
}
