// Provides a set of mixins for custom elements.

//
// Generates an aspect ratio box. Elements within the aspect ratio box need to be positioned absolute otherwise
// they will extend the box.
//
// @param: {x} The x-coordinate for the aspect ratio
// @param: {y} The y-coordinate for the aspect ratio
// @param: {overflow} By default overflow is hidden, this can be adjusted if not wanted
// @example:
//
// @include aspect-ratio-box(4, 3) {
//    background-color: red;
// }
//
@mixin aspect-ratio-box($x, $y, $overflow: hidden) {
  position: relative;
  overflow: $overflow;

  &:before {
    display: block;
    padding-top: percentage($y / $x);
    content: "";
  }
}

//
// Applies styles to stretch to parent container using position absolute.
//
// @param: {boolean} vertically stretched? default: true
// @param: {boolean} horizontally stretched? default: true
//
// @example:
// img {
//   @include center-absolute();
// }
//
@mixin stretch-absolute($vertical: true, $horizontal: true) {
  position: absolute;
  @if $vertical {
    top: 0;
    bottom: 0;
  }
  @if $horizontal {
    left: 0;
    right: 0;
  }
}