@charset "UTF-8";

/**
  *  inside start tab
  */
.lc-asset-license-warning-starttab {
  padding-left: 80px;
  width: 75%;
  height: 76px;
  background: url("icons/12_1_Warnhinweis_32_pos.png") no-repeat 24px 5px;
  opacity: .45;
  -moz-opacity: .45;
  filter: alpha(opacity = 45);
}
.lc-asset-license-warning-starttab label {
  color: #000;
}
.lc-asset-license-warning-starttab .lc-asset-msgHeader {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
}
.lc-asset-license-warning-starttab .lc-asset-msgBody {
  font-size: 11px;
  font-weight: normal;
  font-family: 'Segoe UI', 'Trebuchet MS', 'Lucida Grande', Helvetica, sans-serif;
}
