.styled-button button,
.styled-button a,
.styled-button input[type=submit] {
    padding: 4px 10px;
    border-radius: 2px;
    border: solid 1px #8b8e8e;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #d5d9dd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d5d9dd));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d5d9dd 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#d5d9dd 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#d5d9dd 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#d5d9dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d9dd',GradientType=0 );
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    font-size: 12px;
}

.styled-button.x-btn-over button,
.styled-button.x-btn-over a,
.styled-button.x-btn-over input[type=submit] {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #b7c8e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b7c8e6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#b7c8e6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#b7c8e6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#b7c8e6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#b7c8e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7c8e6',GradientType=0 );
}

.styled-button.x-btn-click button,
.styled-button.x-btn-click a,
.styled-button.x-btn-click input[type=submit] {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #a4b7c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#a4b7c7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#a4b7c7 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#a4b7c7 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#a4b7c7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#a4b7c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a4b7c7',GradientType=0 );
}
