@charset "UTF-8";

/**
  * Styles for Studio Plugin Utilities
  *
  */


/* --- SwitchButton --- */
.switchBtn {
  height: 23px;
}

input[type="checkbox"].switchBtn + label {
  cursor: pointer;
}

input[type="checkbox"].switchBtn  {
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
  -webkit-linear-gradient(left, #CC0000 50%, #3ED113 50%);
  background-size: 100% 100%, 200% 100%;
  border-radius: 25px;
  border: 1px solid #848484;
  height: 14px;
  width: 22px;
  -webkit-appearance: none;
  -webkit-transition: .25s;
  margin-top: 0;
  cursor: pointer;
}

input[type="checkbox"].switchBtn:after {
  background-color: #eee;
  background-image: -webkit-linear-gradient(#FFFFFF, #ECECEC);
  border-radius: 25px;
  box-shadow: inset 0 1px 1px 1px #EFEFEF,
  inset 0 -1px 1px 1px hsla(0,0%,0%,.2),
  0px 1px 1px 1px hsla(0,0%,0%,.25),
  0 0 1px hsla(0,0%,0%,.25);
  content: '';
  display: block;
  height: 12px;
  left: 0;
  position: relative;
  top: 0;
  width: 12px;
}

input[type="checkbox"].switchBtn:checked {
  background-position: 0 0, 12px 0;
  padding-left: 8px;
  padding-right: 0;
}
