<div id="helper-window-body">
  <p>
    Über Bedingungen wird Ihre Suchanfrage zusammengestellt. Es werden
    <span class="text-bold">nur</span> Inhalte ausgegeben, die <span class="text-bold">allen Ihren Bedingugen</span> entsprechen.
    <span class="text-bold">Ziehen Sie die gewünschte Bedingung</span> in den Bereich der Suchanfrage.
    Danach können Sie dort weitere Einstellungen vornehmen. Jede Bedingung kann
    nur <span class="text-bold">einmal</span> innerhalb der Suchanfrage verwendet werden.
  </p>
  <table>
    <tr>
      <th>Bedingung</th>
      <th>Beschreibung</th>
    </tr>
    <tr>
      <td>
        Taxonomien
      </td>
      <td>
        <p>
          Es müssen bestimmte Schlüsselwörter oder Verortungen in den Dokumenten vorhanden sein.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Kontext
      </td>
      <td>
        <p>
          Die Dokumente gehören zu einem oder mehreren Kontexten.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Änderungsdatum
      </td>
      <td>
        <p>
          Die Dokumente müssen in einem bestimmten Zeitraum geändert worden sein (z.B. eine Woche zuvor).
        </p>
      </td>
    </tr>
  </table>
</div>