<div id="helper-window-body">
  <p>
    The search query is created via combinations of conditions.
    <span class="text-bold">Only</span> content that matches <span class="text-bold">all your conditions</span> will be displayed.
    <span class="text-bold">Drag the condition</span> to the query area. You can configure additional settings afterwards.
    Every condition can only applied <span class="text-bold">once</span> to the query area.
  </p>
  <table>
    <tr>
      <th>Condition</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>
        Taxonomies
      </td>
      <td>
        <p>
          There must be certain keywords or location in the documents.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Context
      </td>
      <td>
        <p>
          The context documents the queried content must belong to.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        Modification Date
      </td>
      <td>
        <p>
          The documents must have been modified in a certain time range (e.g. the week before).
        </p>
      </td>
    </tr>
  </table>
</div>