@charset "UTF-8";

/**
 * This class is used to display a warning in the preview date selector
 *  in case the commerce timezone does not match the selected preview timezone.
 */
.lc-time-zone-warning {
  position: absolute;
  right: 12px;
  top: 30px;
}
.lc-time-zone-warning img {
  padding: 0;
}